/* comments.html */
.comments-container {
    display: grid;
    grid-gap: 10px;
    border-radius: 6px;
    margin-bottom: auto;
}

.comment {
    display: grid;
    border-radius: 6px;
    background-color: var(--bg2-color);
    grid-gap: 16px;
    border: 10px solid var(--bg2-color);
}

.comment-footer {
    display: grid;
    grid-gap: 6px;
    font-size: 0.7rem;
}

.comment-link {
    color: var(--link-color);
    text-decoration: 0;
}

.comment-link:hover {
    text-decoration: underline;
}

/* comment.html */
.comment-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.comment-buttons > .buttons {
    text-decoration: 0;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 6px;
    padding: 6px;
}


/* comment_create.html */
.post {
    display: grid;
    border-radius: 6px;
    background-color: var(--bg2-color);
    grid-gap: 16px;
    border: 10px solid var(--bg2-color);
}

.post-title > a {
    text-decoration: 0;
    color: var(--link-color);
}

.post-title > a:hover {
    text-decoration: underline;
}

.post-footer {
    display: grid;
    grid-gap: 6px;
    font-size: 0.7rem;
}

.post-footer > .buttons {
    background-color: var(--bg2-color);
}

.post-tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.post-tag-list > a {
    background-color: var(--bg3-color);
    color: var(--link-color);
    text-decoration: 0;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 6px;
    padding: 6px;
}

.post-tag-list > a:hover {
    background-color: var(--link-color);
    color: var(--font-hover-color);
}


.comment-footer > .buttons {
    background-color: var(--bg2-color);
}

.del-button {
    background-color: var(--bg2-color);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}

.del-button:hover {
    background-color: var(--btn-color);
    color: var(--font-hover-color);
}


.comment-form-delete-button {
    background-color: #222;
    color: #d55;
    padding: 6px;
    border-radius: 6px;
    text-decoration: 0;
    border: 1px solid #d55;
    margin-right: auto;
}

.comment-form-delete-button:hover {
    color: #fff;
    background-color: #d55;
}

.comment-del-container {
    margin-top: 10px;
}
