.dropdown {
    display: grid;
    margin-right: auto;
}

.order-by {
    margin: auto;
    margin-right: auto;
}

.top-bar {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 1fr;
    position: relative;
}

.tag-buttons {
    display: none;
    position: absolute;
    top: 30px;
    z-index: 10;
    border: 1px solid #67d;
    background-color: #222;
}

.special-buttons {
    font-size: 14px;
    background-color: #222;
    color: #67d;
    text-decoration: 0;
    align-self: center;
    padding: 6px;
}

.special-buttons:hover {
    color: #fff;
    background-color: #67d;
}

sidebar {
    display: grid;
    grid-gap: 16px;
    background-color: var(--bg2-color);
    border-radius: 6px;
    border: 10px solid var(--bg2-color);
    margin-bottom: auto;
}

sidebar > * {
    margin: 0;
}

sidebar > h1 {
    text-align: center;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.tag-container > .tag {
    padding: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 6px;
}

.tag {
    //border: 4px solid #999;
    background-color: #222;
    padding: 6px;
    margin-right: auto;
}

.tag > a {
    color: #d55;
    text-decoration: 0;
}

.tag > a:hover {
    text-decoration: underline;
}

.tag-page-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
}

.posts-container {
    display: grid;
    grid-gap: 10px;
    border-radius: 6px;
    margin-bottom: auto;
}

.post {
    display: grid;
    border-radius: 6px;
    background-color: var(--bg2-color);
    grid-gap: 16px;
    border: 10px solid var(--bg2-color);
}


.post-title > a {
    text-decoration: 0;
    color: var(--link-color);
}

.post-title > a:hover {
    text-decoration: underline;
}

.post-footer {
    display: grid;
    grid-gap: 6px;
    font-size: 0.7rem;
}

.post-footer > .buttons {
    background-color: var(--bg2-color);
}

.post-tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.post-tag-list > a {
    background-color: var(--bg3-color);
    color: var(--link-color);
    text-decoration: 0;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 6px;
    padding: 6px;
}

.post-tag-list > a:hover {
    background-color: var(--link-color);
    color: var(--font-hover-color);
}


.list-moderators {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.moderator {
    background-color: #333;
    padding: 8px;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 6px;
}

.sidebar-tag-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.sidebar-tag-buttons > .buttons {
    //background-color: #333;
    //padding: 8px;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 6px;
}
