.dropdown {
    display: grid;
    margin-right: auto;
}

.order-by {
    margin: auto;
    margin-right: auto;
}

.page-buttons-bar {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 1fr;
    position: relative;
}

.tag-buttons {
    display: none;
    position: absolute;
    top: 40px;
    z-index: 10;
    border: 1px solid #67d;
    background-color: #222;
}

.special-buttons {
    font-size: 14px;
    background-color: #222;
    color: #67d;
    text-decoration: 0;
    //margin: 10px;
    //margin-right: auto;
    align-self: center;
    padding: 6px;
}

.special-buttons:hover {
    color: #fff;
    background-color: #67d;
}

.tag-page-container > sidebar > h1 {
    text-align: center;
}
.tag-page-container > sidebar > p {
    //border: 4px solid #999;
    margin: 10px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    //margin: 10px;
}

.tag-container > .tag {
    padding: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 6px;
}

.tag {
    //border: 4px solid #999;
    background-color: #222;
    padding: 6px;
    margin-right: auto;
}

.tag > a {
    color: #d55;
    text-decoration: 0;
}

.tag > a:hover {
    text-decoration: underline;
}

.tag-page-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
}
.tag-page-container > sidebar {
    display: grid;
    grid-gap: 6px;
    background-color: #222;
    border-radius: 6px;
}

.post-section {
    display: grid;
    grid-gap: 10px;
}

.post {
    background-color: #222;
    border-radius: 6px;
    //border: 4px solid #999;
}

.post-title {
    margin: 10px 10px 0px 10px;
    //border: 4px solid #999;
}

.post-title > a {
    text-decoration: 0;
    color: #d55;
}

.post-title > a:hover {
    text-decoration: underline;
}

.post-text {
    margin: 10px;
}

.post-footer {
    display: grid;
    font-size: 12px;
    margin: 10px;
    //border: 4px solid #999;
}

.post-footer > .buttons {
    background-color: #222;
}

.post-tags > a {
    text-decoration: 0;
    color: #d55;
}

.post-tags > a:hover {
    text-decoration: underline;
}

.list-moderators {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 10px;
}

.moderator {
    background-color: #333;
    padding: 8px;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 6px;
}

.sidebar-tag-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 10px;
}

.sidebar-tag-buttons > .buttons {
    //background-color: #333;
    //padding: 8px;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 6px;
}

sidebar > h4 {
    margin: 10px
}
