/* Login.html */
.login-form-container {
    display: grid;
    border-radius: 6px;
    background-color: var(--bg2-color);
    border: 10px solid var(--bg2-color);
}

.login-form-container > form {
    display: grid;
    grid-gap: 10px;
}

/* profile.html */
.profile-page-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
}

sidebar {
    display: grid;
    grid-gap: 16px;
    background-color: var(--bg2-color);
    border-radius: 6px;
    border: 10px solid var(--bg2-color);
    margin-bottom: auto;
}

sidebar > * {
    margin: 0;
}

sidebar > h1 {
    text-align: center;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.tag-list > a {
    background-color: var(--bg3-color);
    color: var(--link-color);
    text-decoration: 0;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 6px;
    padding: 8px;
}

.tag-list > a:hover {
    background-color: var(--link-color);
    color: var(--font-hover-color);
}

.posts-container {
    display: grid;
    grid-gap: 10px;
    border-radius: 6px;
    margin-bottom: auto;
}

.post {
    display: grid;
    border-radius: 6px;
    background-color: var(--bg2-color);
    grid-gap: 16px;
    border: 10px solid var(--bg2-color);
}

.post-title > a {
    text-decoration: 0;
    color: var(--link-color);
}

.post-title > a:hover {
    text-decoration: underline;
}

.post-footer {
    display: grid;
    grid-gap: 6px;
    font-size: 0.7rem;
}

.post-footer > .buttons {
    background-color: var(--bg2-color);
}

.post-tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.post-tag-list > a {
    background-color: var(--bg3-color);
    color: var(--link-color);
    text-decoration: 0;
    margin-bottom: 4px;
    margin-right: 4px;
    border-radius: 6px;
    padding: 6px;
}

.post-tag-list > a:hover {
    background-color: var(--link-color);
    color: var(--font-hover-color);
}

.link {
    text-decoration: 0;
    color: var(--link-color);
}
.link:hover {
    text-decoration: underline;
}

/* register.html */


.register-form-container {
    display: grid;
    border-radius: 6px;
    border: 10px solid var(--bg2-color);
    background-color: var(--bg2-color);
}

.register-form-container > form {
    display: grid;
    grid-gap: 10px;
}

.helptext {
    font-size: 12px;
    margin: 0px 10px 0px 10px;
    color: var(--help-color);
}

.helptext > ul {
    margin-left: 10px;
}
