{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
<div class="profile-page-container">
    <sidebar>
        <h1>{{user.username}}</h1>
        <p>user description</p>
        <h3>Tag followed</h3>
        <div class="tag-list">
            {% for tag in followed_tags %}
                <div class="tag">
                    <a href="{% url 'tags:tag' name=tag.name %}">{{tag.name}}</a>
                </div>
            {% endfor %}
        </div>
    </sidebar>
    <div class="post-section">
        {% for post in page_object %}
            <div class="post">
                <div class="post-title">
                    <a href="{% url 'posts:post' pk=post.pk %}">{{ post.title }}</a>
                </div>
                <footer class="post-footer">
                    <div class="temp">
                        Posted {{post.date_posted}} by {{ post.user }}
                        {% if post.last_updated %}
                            (updated {{post.last_updated}})
                        {% endif %}
                    </div>
                    <div class="post-tags">
                    {% for tag_name in post.tags.all %}
                        <a href="{% url 'tags:tag' name=tag_name %}">#{{tag_name}}</a>
                        {% endfor %}
                    </div>
                </footer>
            </div>

            {% empty %}
            <h2>No post yet!</h2>
            {% endfor %}


        <div class="pagination">
            <span class="step-links">
                {% if page_object.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_object.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}.
                </span>

                {% if page_object.has_next %}
                    <a href="?page={{ page_object.next_page_number }}">next</a>
                    <a href="?page={{ page_object.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>


    </div>


</div>
{% endblock %}
