{% extends "posts/base.html" %}
{% load static %}

{% block content %}
<div class="page-buttons-bar">
    <h1>Post</h1>
</div>
<div class="post">
    <div class="post-title">
        <a href="{{post.link}}">{{post.title}}</a>
    </div>

    <div class="post-text">
        <p>{{post.text}}</p>
    </div>

    <footer class="post-footer">
        <div class="temp">
            Posted {{post.date_posted}} by {{ post.user }}
            {% if post.last_updated %}
                (updated {{post.last_updated}})
            {% endif %}
        </div>
        <div class="post-tags">
        {% for tag_name in post.tags.all %}
            <a href="{% url 'tags:tag' name=tag_name %}">#{{tag_name}}</a>
            {% endfor %}
        </div>
    </footer>
    <div class="post-buttons">
        {% if object.user == user %}
            <a class="buttons" href="{% url 'posts:post-update' pk=post.pk %}">Update</a>
            <button type="button" class="post-delete-button">Delete</button>
        {% endif %}
        {% if user.is_authenticated and moderator %}
            <a class="buttons" href="{% url 'posts:mod-tag-add' pk=post.pk %}">Add Tag</a>
            <a class="buttons" href="{% url 'posts:mod-tag-remove' pk=post.pk %}">Remove Tag</a>
        {% endif %}
            
    </div>
    <div class="post-del-container" hidden>
        {% include 'posts/post_delete.html' %}
    </div>
</div>

<div>
    {% if user.is_authenticated %}
        <a class="buttons" href="{% url 'posts:post-comment-create' pk=post.pk %}">Add a comment</a>
    {% endif %}
</div>

<div class="comment-list">
    {% for comment in page_object %}
    <div class="comment">
        <div class="comment-text">
            <p>{{comment.text}}</p>
        </div>

        <footer class="comment-footer">
            <div class="temp">
                Posted {{comment.date_posted}} by {{ comment.user }}
                {% if comment.last_updated %}
                    (updated {{comment.last_updated}})
                {% endif %}
            </div>
            <div>
            {% if comment.user == user %}
                <a class="buttons" href="{% url 'comments:comment-update' pk=comment.pk %}">Update</a>
                <button type="button" class="comment-delete-button">Delete</button>
                    <div class="comment-del-container" hidden>
                        {% include 'comments/comment_delete.html' %}
                    </div>
            {% endif %}
            </div>
        </footer>
            
    </div>
    {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_object.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_object.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}.
                </span>

                {% if page_object.has_next %}
                    <a href="?page={{ page_object.next_page_number }}">next</a>
                    <a href="?page={{ page_object.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>


</div>


<script src="{% static 'posts/post.js' %}"></script>
<script src="{% static 'comments/comment.js' %}"></script>
{% endblock %}
