{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Tag</h1>
<div class="container">
    <div>{{tag.name}}</div>
    <div>{{tag.text}}</div>
    {% if user.is_authenticated %}
    <div>
        <a class="buttons" href="{% url 'tags:tag-update' name=tag.name %}">Update</a>
        <a class="buttons" href="{% url 'tags:tag-delete' name=tag.name %}">Delete</a>
    </div>
    {% endif %}
    {% for post in some_data %}
        {{post.title}}
    {% endfor %}
    
</div>
{% endblock %}
