{% extends "tags/base.html" %}
{% load static %}

{% block content %}
<div class="tag-page-container">
    <sidebar>
        <h1>{{tag.name}}</h1>
        <p>{{tag.text}}</p>
        {% if user.is_authenticated %}
        <div>
            {% if user in tag.moderators.all %}
            <a class="buttons" href="{% url 'tags:tag-update' name=tag.name %}">Update</a>
            <a class="buttons" href="{% url 'tags:tag-delete' name=tag.name %}">Delete</a>
            {% endif %}
            {% if user in tag.followers.all %}
                <input type="submit" class="buttons" value="Unfollow" form="link-with-input2">
                <form id="link-with-input2" action="{% url 'tags:remove-follower' name=tag.name %}" method="POST">
                    {% csrf_token %}
                </form>
            {% else %} 
                <input type="submit" class="buttons" value="Follow" form="link-with-input">
                <form id="link-with-input" action="{% url 'tags:add-follower' name=tag.name %}" method="POST">
                    {% csrf_token %}
                </form>
            {% endif %}
        </div>
        {% endif %}
        <h3>Moderators</h3>

        {% if user in tag.moderators.all %}
        <a class="buttons" href="{% url 'tags:add-moderator' name=tag.name %}">Add Moderator</a>
        <a class="buttons" href="{% url 'tags:remove-moderator' name=tag.name %}">Remove Moderator</a>
        {% endif %}
        <div class="list-moderators">
            {% for moderator in tag.moderators.all %}
                <div class="moderator">
                    {{moderator.username}}
                </div>
            {% endfor %}
        </div>
    </sidebar>
    <div class="post-section">
        {% for post in some_data %}
            <div class="post">
                <div class="post-title">
                    <a href="{% url 'posts:post' pk=post.pk %}">{{ post.title }}</a>
                </div>
                <footer class="post-footer">
                    <div class="temp">
                        Posted {{post.date_posted}} by {{ post.user }}
                        {% if post.last_updated %}
                            (updated {{post.last_updated}})
                        {% endif %}
                    </div>
                    <div class="post-tags">
                    {% for tag_name in post.tags.all %}
                        <a href="{% url 'tags:tag' name=tag_name %}">#{{tag_name}}</a>
                        {% endfor %}
                    </div>
                </footer>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
