.post {
    background-color: #222;
    border-radius: 6px;
}

.post-title {
    margin: 10px 10px 0px 10px;
}

.post-title > a {
    text-decoration: 0;
    color: #d55;
}

.post-title > a:hover {
    text-decoration: underline;
}

.post-text {
    margin: 10px;
}

.post-footer {
    display: grid;
    font-size: 12px;
    margin: 10px;
}

.post-footer > .buttons {
    background-color: #222;
}

.del-button {
    background-color: #222;
    color: blue;
    border: 1px solid blue;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}

.del-button:hover {
    background-color: blue;
    color: white;
}

.post-tags > a {
    text-decoration: 0;
    color: #d55;
}

.post-tags > a:hover {
    text-decoration: underline;
}


.comment-list {
    display: grid;
    background-color: #222;
    border-radius: 6px;
}

.comment {
    background-color: #333;
    margin: 10px;
    border-radius: 6px;
}

.comment-text {
    margin: 10px;
}

.comment-footer {
    display: grid;
    grid-gap: 10px;
    font-size: 12px;
    margin: 10px;
}

.page-buttons-bar {
    display: grid;
    grid-template-columns: auto 1fr;
}

.page-buttons-bar > .buttons {
    margin-right: auto;
}

.dropdown {
    display: grid;
    margin-right: auto;
    position: relative;
}

.moderator-actions {
    margin: auto;
//    margin-right: auto;
}

.moderator-buttons {
    display: none;
    position: absolute;
    top: 25px;
    z-index: 10;
    width: 101px;
    border: 1px solid #67d;
    background-color: #222;
    margin-right: auto;
}

.post-buttons {
    display: grid;
    grid-template-columns: auto auto 1fr;
    //position: relative;
    grid-gap: 10px;
    margin: 10px;
    margin-top: 16px;
}

.post-buttons > a {
    margin-right: auto;
}

.post-buttons > button {
    margin-right: auto;
}

.special-buttons {
    font-size: 14px;
    background-color: #222;
    color: #67d;
    text-decoration: 0;
    //margin: 10px;
    //margin-right: auto;
    align-self: center;
    padding: 6px;
}

.special-buttons:hover {
    color: #fff;
    background-color: #67d;
}

.form-delete-button {
    background-color: #222;
    color: #d55;
    padding: 6px;
    border-radius: 6px;
    text-decoration: 0;
    border: 1px solid #d55;
    margin-right: auto;
}

.form-delete-button:hover {
    color: #fff;
    background-color: #d55;
}

.comment-form-delete-button {
    background-color: #222;
    color: #d55;
    padding: 6px;
    border-radius: 6px;
    text-decoration: 0;
    border: 1px solid #d55;
    margin-right: auto;
}

.comment-form-delete-button:hover {
    color: #fff;
    background-color: #d55;
}

.comment-del-container {
    margin-top: 10px;
}

.post-del-container {
    margin: 10px;
}
