{% extends "comments/base.html" %}
{% load static %}

{% block content %}
<div class="page-buttons-bar">
    <h1>Comments</h1>
</div>
{% for comment in object_list %}
<div class="comment">
    <div class="comment-text">
        {{comment.text}}
    </div>
    <footer class="comment-footer">
        <div class="temp">
            <a class="comment-link" href="{% url 'comments:comment' pk=comment.pk %}">To Comment {{comment.pk}}</a>
            <p>Commented on: <a class="comment-link" href="{% url 'posts:post' pk=comment.post.id %}">{{ comment.post.title }}</a></p>
            <p>Posted {{comment.date_posted}} by {{ comment.user }}
            {% if comment.last_updated %}
                (updated {{comment.last_updated}})
                {% endif %}
                </p>
        </div>

        
    </footer>
</div>

{% empty %}
<h2>No comment yet!</h2>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
        {% endif %}
    </span>
</div>


{% endblock %}
