{% extends "comments/base.html" %}
{% load static %}

{% block content %}
<div class="page-buttons-bar">
    <h1>Comments</h1>
</div>
{% for comment in object_list %}
<div class="comment">
    <div class="comment-text">
        {{ comment.text }}</a>
    </div>
    <footer class="comment-footer">
        <div class="temp">
            <p>Commented on: <a class="comment-link" href="{% url 'posts:post' pk=comment.post.id %}">{{ comment.post.title }}</a></p>
            <p>Posted {{comment.date_posted}} by {{ comment.user }}
            {% if comment.last_updated %}
                (updated {{comment.last_updated}})
                {% endif %}
                </p>
        </div>
    </footer>
</div>

{% empty %}
<h2>No comment yet!</h2>
{% endfor %}
{% endblock %}
