{% extends "comments/base.html" %}
{% load static %}

{% block content %}

<div class="top-bar">
  <h1>Compose Comment</h1>
</div>

<div class="post">
    <div class="post-title">
        {% if post.link %}
        <a href="{{post.link}}"><h2>{{post.title}}</h2></a>
        {% else %}
        <h2>{{post.title}}</h2>
        {% endif %}
    </div>
    <div class="post-text">
        <p>{{post.text | safe | linebreaks}}</p>
    </div>
    <footer class="post-footer">
        <div class="post-info">
            <div class="post-date-user">
                Posted {{post.date_posted}} by {{ post.user }}
                {% if post.last_updated %}
                    (updated {{post.last_updated}})
                {% endif %}
            </div>
            <div class="total-comments">
                <div>{{post.comment_set.count}} comments</div>
            </div>
        </div>
        <div class="post-tag-list">
        {% for tag_name in post.tags.all %}
            <a href="{% url 'tags:tag' name=tag_name %}">{{tag_name}}</a>
            {% endfor %}
        </div>
    </footer>
</div>


<div class="form-container">
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input class="buttons" type="submit" value="Comment">
  </form>
</div>

{% endblock %}
