{% extends "comments/base.html" %}
{% load static %}

{% block content %}
<div class="page-buttons-bar">
    <h1>Comment</h1>
</div>
<div class="comment">
    <div class="comment-text">
        <p>{{comment.text}}</p>
    </div>

    <footer class="comment-footer">
        <div class="temp">
            Posted {{comment.date_posted}} by {{ comment.user }}
            {% if comment.last_updated %}
                (updated {{comment.last_updated}})
            {% endif %}
        </div>
    </footer>
    <div class="comment-buttons">
        {% if object.user == user %}
            <a class="buttons" href="{% url 'comments:comment-update' pk=comment.pk %}">Update</a>
            <button type="button" class="comment-delete-button">Delete</button>
        {% endif %}
    </div>
    <div class="comment-del-container" hidden>
        {% include 'comments/comment_delete.html' %}
    </div>
</div>


<script src="{% static 'comments/comment.js' %}"></script>

{% endblock %}
