.tag-page-container > sidebar > h1 {
    text-align: center;
}
.tag-page-container > sidebar > p {
    //border: 4px solid #999;
    margin: 10px;
}

.tag-container {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-gap: 10px;
    justify-content: start;
}

.tag {
    //border: 4px solid #999;
    background-color: #222;
    padding: 6px;
    margin-right: auto;
}

.tag > a {
    color: #d55;
    text-decoration: 0;
}

.tag > a:hover {
    text-decoration: underline;
}

.tag-page-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
}
.tag-page-container > sidebar {
    background-color: #222;
    border-radius: 6px;
}

.post-section {
    display: grid;
    grid-gap: 10px;
}

.post {
    background-color: #222;
    border-radius: 6px;
    //border: 4px solid #999;
}

.post-title {
    margin: 10px 10px 0px 10px;
    //border: 4px solid #999;
}

.post-title > a {
    text-decoration: 0;
    color: #d55;
}

.post-title > a:hover {
    text-decoration: underline;
}

.post-text {
    margin: 10px;
}

.post-footer {
    display: grid;
    font-size: 12px;
    margin: 10px;
    //border: 4px solid #999;
}

.post-footer > .buttons {
    background-color: #222;
}

.post-tags > a {
    text-decoration: 0;
    color: #d55;
}

.post-tags > a:hover {
    text-decoration: underline;
}
